$bg-color:      #292b35 !important;
$white:         #fff    !important;
$blue:          #00aba5 !important;
$dark-blue:     #8485ce !important;
$heading-color: #d88e62 !important;
$green:         #3cbc5e !important;
$dark-green:    #287c3e !important;
$grey:          #999    !important;
$black:         #20222b !important;

// Resets
html,
body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

// Declares font family, text colour and adds a subtle pattern to the background
body {
  background-color: $bg-color;
  color: $white;
  font-family: -apple-system, 'Helvetica', 'Arial', sans-serif;
}

// Make container centered in page and center text inside <div>
.container {
  background-color: none;
  display: block;
  margin: 5% auto;
  max-width: 80%;
  text-align: center;

  // Makes image a circle and sizes it to 40% of the outside container
  img {
    border-radius: 50%;
    max-width: 25%;
  }
}

ul { margin: 3rem 0; }

// Clears bullet points and places <li> items next to each other instead of stacked on top and changes font
li {
  display: inline;
  font-family: monospace;
  list-style: none;
  padding: 0 .6rem;
}

// Remove default hyperlink styling, add our own colours and change font-size
a,
a:visited {
  color: $blue;
  font-size: 1.6rem;
  text-decoration: underline;

  // This changes the link colour when someone hovers their mouse over it
  &:hover {
    color: $dark-blue;
    text-decoration: underline;
  }
}

// Style our header tags
h1,
h2 { font-weight: 700; }

h1 {
  font-size: 3.2rem;
  margin: 1rem 0 0;
}

h2 {
  color: $heading-color;
  font-size: 2rem;
}

// Adds some space around our bio
p {
  font-size: 1.6rem;
  padding: 2rem 0;
}

.links li p {
  display: inline;
  margin: 0;
  padding: 0;
}

.available-link { text-decoration: none; }

// Style our 'available' and 'unavailable' classes
.available,
.unavailable {
  border-radius: .3rem;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 1.6rem .8rem;
  width: 45%;
}

.available {
  background-color: $green;
  color: $white;
}

a:hover .available {
  background-color: $dark-green;
  color: $dark-blue;
}

.unavailable {
  background-color: $black;
  color: $grey;
}

// Resume styles
.resume {
  padding: 0 0 0 1rem;
  text-align: left;

  h2 { margin: 4rem 0 1rem; }
  ul { margin: 1rem 0 2rem; }
  li {
    display: block;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0 .3rem;
    padding: 0 1rem;
    text-indent: -.7rem;
    // &::before { content: '• '; }
  }

  p { // todo
    font-size: 1.6rem;
    margin: 0 0 2rem;
    padding: 0 0 0 2rem;
  }

  .experience ul .title p {
    margin-bottom: .3rem;
    padding: 0;
  }

  a { font-size: inherit; }
  .year { margin: 0 0 -.6rem !important; }

  .skills li,
  .interests li {
    font-weight: normal;
    margin: .3rem 0;
  }

  .interests li p {
    margin: 0;

    &::before { content: '• '; }
  }

  .skills li {
    background: $heading-color;
    border-radius: 4px;
    display: inline-block;
    text-indent: 0;

    p {
      margin: 0;
      padding: .4rem;
    }

    a {
      color: $white;
      &:hover { color: $dark-blue; }
    }
  }
}

footer {
  font-size: 1.2rem;
  margin: 3rem 0 0;
  a { font-size: inherit; }
}


// BLOG

article {
  .date {
    font-size: 1.2rem;
    padding: .6rem 0;
  }
}

.blog {
  text-align: left !important;

  h1 { font-size: 2.4rem; }

  .links {
    margin: 1.5rem 0;

    li {
      padding-left: 0;
    }
  }

  .read-more {
    font-size: 1.5rem;
  }
}

.post {
  text-align: left !important;

  h1 { font-size: 2.4rem; }

  .links {
    margin: 1.5rem 0;

    li {
      padding-left: 0;
    }
  }

  .entry {
    font-family: 'Garamond', serif;
  }
}


.divider-short {
  margin: 3rem 0;
  text-align: center;

  &::before {
    color: $green;
    content: '/* --- */';
    font-family: 'SF Mono', 'Menlo', monospace;
    font-size: 1.6rem;
  }
}

.divider {
  margin: 3rem 0;

  &::before {
    color: $green;
    content: '/*----------------------------------------------------------*/';
    font-family: 'SF Mono', 'Menlo', monospace;
    font-size: 1.8rem;
  }
}

// iPhone portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .divider::before {
    content: '/*------------------------------*/';
  }
}

// iPhone landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .divider::before {
    content: '/*--------------------------------------------------*/';
  }
}

// iPhone Plus portrait
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .divider::before {
    content: '/*----------------------------------------*/';
  }
}

// iPhone Plus landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .divider::before {
    content: '/*--------------------------------------------------*/';
  }
}
// iPad portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .divider::before {
    content: '/*--------------------------------------------------*/';
  }
}
