$bg-color:      #292B35;
$white:         #ffffff !important;
$blue:          #00aba5 !important;
$dark-blue:     #8485ce !important;
$heading-color: #D88E62 !important;
$green:         #3CBC5E !important;
$dark-green:    #287C3E !important;
$grey:          #999999 !important;
$black:         #20222B !important;

/* Resets */
html, body, ul, li, h1, h2, p {
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

/* Declares font family, text colour and adds a subtle pattern to the background */
body {
  font-family: -apple-system, 'Helvetica', 'Arial', sans-serif;
  color: $white;
  background-color: $bg-color !important;
}

/* Make container centered in page and center text inside <div> */
.container {
  max-width: 80%;
  margin: 5% auto;
  text-align: center;
  display: block;
  background-color: none;
}

/* Makes image a circle and sizes it to 40% of the outside container */
.container img { 
  max-width: 25%;
  border-radius: 50%;
}

ul { margin: 3.0rem 0; }

/* Clears bullet points and places <li> items next to each other instead of stacked on top and changes font */
li {
  display: inline;
  list-style: none;
  padding: 0 0.6rem;
  font-family: monospace;
}

/* Remove default hyperlink styling, add our own colours and change font-size*/
a, a:visited {
  color: $blue;
  font-size: 1.7rem;
  text-decoration: none;
}

/* This changes the link colour when someone hovers their mouse over it */
a:hover {
  color: $dark-blue;
  text-decoration: underline;
}

/* Style our header tags */
h1, h2 { font-weight: 700; }

h1 {
  font-size: 3.2rem;
  margin: 1.0rem 0 0;
}

h2 {
  font-size: 2.0rem;
  color: $heading-color;
}

/* Adds some space around our bio */
p {
  padding: 2.0rem 0;
  font-size: 1.6rem;
}

.links li p {
  display: inline;
  margin: 0;
  padding: 0;
}

.divider { margin: 3.0rem 0; }
.divider::before {
  content: "/*------------------------------------------------------------*/";
  color: $green;
  font-size: 1.8rem;
  font-family: 'Menlo', monospace;
}

/* iPhone portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .divider::before {
    content: "/*------------------------------*/";
  }
}

/* iPhone landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .divider::before {
    content: "/*--------------------------------------------------*/";
  }
}

/* iPhone Plus portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .divider::before {
    content: "/*----------------------------------------*/";
  }
}

/* iPhone Plus landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
  .divider::before {
    content: "/*--------------------------------------------------*/";
  }
}
/* iPad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .divider::before {
    content: "/*--------------------------------------------------*/";
  }
}

/* Style our 'available' and 'unavailable' classes */
.available, .unavailable {
  width: 45%;
  margin: 1.0rem auto;
  border-radius: 0.3rem;
  padding: 1.6rem 0.8rem;
  font-size: 1.8rem;
}

.available {
  color: $white;
  background-color: $green;
}

a:hover .available {
  color: $dark-blue;
  background-color: $dark-green;
}

.unavailable {
  color: $grey;
  background-color: $black;
}

/* Resume styles */
.resume {
  padding: 0 0 0 1.0rem;
  text-align: left;
}

.resume h2 { margin: 4.0rem 0 1.0rem; }

.resume ul { margin: 1.0rem 0 2.0rem; }

.resume li p {
  padding: 0;
  margin-bottom: 0.3rem;
}
.resume li p::before { content: "• "; }

.resume li {
  display: block;
  padding: 0 1.0rem;
  text-indent: -0.7rem;
  font-family: inherit;
  font-size: 1.6rem;
  margin: 1.0rem 0 0.3rem;
  font-weight: 600;
}

.resume p {
  padding: 0 0 0 2.0rem;
  margin: 0 0 2.0rem;
  font-size: 1.6rem;
}

.resume a { font-size: inherit; }

.resume .year { margin: 0 0 -0.6rem 0 !important; }

.resume .skills li, .resume .interests li {
  font-weight: normal;
  margin: 0.3rem 0;
}

footer {
  margin: 3.0rem 0 0;
  font-size: 1.2rem;
}

footer a { font-size: inherit; }
